html
    head
        title Ship-hold | #{title}
        base(href='/ship-hold/dist/doc/')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type='text/css' href='resources/theme.css')
        link(rel='stylesheet' type='text/css' href='resources/darkula.css')
        link(rel='icon', href='resources/ship-hold-logo.svg')
    body
        header
            div#logo-wrapper
                img(alt='ship-hold logo', src='resources/ship-hold-logo.svg')
                div
                    span SHIP
                    span -
                    span HOLD
            include ./navigation
        main#main
            block content
