mixin navigationLink(path, label)
    a(href=path)
        span !{label}

div#main-navigation-container
    nav
        ul
            li.top
                +navigationLink('./','Introduction')
                ul
                    li
                        +navigationLink('./#getting-started','Getting started')
                        ul
                            li.leaf
                                +navigationLink('./#installation','Installation')
                            li.leaf
                                +navigationLink('./#initialisation','Initialisation')
                    li
                        +navigationLink('./#how-to-read','How to read this documentation')
            li.top
                +navigationLink('builders','Builders')
                ul
                    li
                        +navigationLink('builders#build','.build()')
                        ul
                            li.leaf
                                +navigationLink('builders#parameterized-query', 'Parameterized queries')
                    li
                        +navigationLink('builders#clone','.clone()')
                    li
                        +navigationLink('builders#with','.with(as, build)')
                    li
                        +navigationLink('builders#common-types','Common types')
                        ul
                            li.leaf
                                +navigationLink('builders#pointers', 'Pointers')
                            li.leaf
                                +navigationLink('builders#values', 'Values')
            li.top
                +navigationLink('builders/insert','INSERT builder')
                ul
                    li
                        +navigationLink('builders/insert#insert','.insert(map,...othersProps)')
                    li
                        +navigationLink('builders/insert#into','.into(tableName)')
                    li
                        +navigationLink('builders/insert#values','.values(rows)')
                    li
                        +navigationLink('builders/insert#returning','.returning(...properties)')
            li.top
                +navigationLink('builders/update','UPDATE builder')
                ul
                    li
                        +navigationLink('builders/update#update','.update(tableName)')
                    li
                        +navigationLink('builders/update#set','.set(mapOrString, ?value)')
                    li
                        +navigationLink('builders/update#from','.from(...pointers)')
                    li
                        +navigationLink('builders/update#where','.where(leftOperand, operator, rightOperand)')
                    li
                        +navigationLink('builders/update#returning','.returning(...properties)')       li
            li.top
                +navigationLink('builders/delete','DELETE builder')
                ul
                    li
                        +navigationLink('builders/delete#delete','.delete(tableName)')
                    li
                        +navigationLink('builders/delete#using','.using(...pointers)')
                    li
                        +navigationLink('builders/delete#where','.where(leftOperand, operator, rightOperand)')
                    li
                        +navigationLink('builders/delete#returning','.returning(...properties)')
            li.top
                +navigationLink('builders/select','SELECT builder')
                ul
                    li
                        +navigationLink('builders/select#select','.select(...pointers)')
                    li
                        +navigationLink('builders/select#from','.from(...pointers)')
                    li
                        +navigationLink('builders/select#joins','Joins')
                        ul
                            li.leaf
                                +navigationLink('builders/select#join', '.join(table, leftOp, rightOp)')
                            li.leaf
                                +navigationLink('builders/select#left-join', '.leftJoin(table, leftOp, rightOp)')
                            li.leaf
                                +navigationLink('builders/select#right-join', 'rightJoin(table, leftOp, rightOp)')
                            li.leaf
                                +navigationLink('builders/select#on', '.on(leftOperand, operator, rightOperand)')
                    li
                        +navigationLink('builders/select#group','Group')
                        ul
                            li.leaf
                                +navigationLink('builders/select#group-by', '.groupBy(...columns)')
                            li.leaf
                                +navigationLink('builders/select#having', '.having(leftOp, operator, rightOp)')
                    li
                        +navigationLink('builders/select#where','.where(leftOp, operator, rightOp)')
                    li
                        +navigationLink('builders/select#pagination','Pagination')
                        ul
                            li.leaf
                                +navigationLink('builders/select#limit', '.limit(size, offset)')

            li.top
                +navigationLink('builders/conditions','Conditions builder')
                ul
                    li
                        +navigationLink('builders/conditions#factories','Factories')
            li.top
                +navigationLink('run-queries','Run queries')
                ul
                    li
                        +navigationLink('run-queries#run','.run(params?:object)')
                    li
                        +navigationLink('run-queries#debug','.debug(params?:object)')
                    li
                        +navigationLink('run-queries#stream','.stream(sink: Generator, params?:object)')
            li.top
                +navigationLink('services','Services')
                ul
                    li
                        +navigationLink('services#create-a-service','Create a service')
                        ul
                            li.leaf
                                +navigationLink('services#service','.service(keyOrDef)')
                    li
                        +navigationLink('services#service-builders','Service builders')
                        ul
                            li.leaf
                                +navigationLink('services#insert','.insert(...args)')
                            li.leaf
                                +navigationLink('services#update','.update(prosMap)')
                            li.leaf
                                +navigationLink('services#delete','.delete()')
                            li.leaf
                                +navigationLink('services#select','.select(...args)')
                li
                    +navigationLink('services#create-relations','Create Relations')
                    ul
                        li.leaf
                            +navigationLink('services#one-to-one','One to one')
                        li.leaf
                            +navigationLink('services#one-to-many','One to many')
                        li.leaf
                            +navigationLink('services#many-to-many','Many to many')
                li
                    +navigationLink('services#query-with-associations','Queries with associations')
                    ul
                        li.leaf
                            +navigationLink('services#include','.include(...associations)')

