html {
    margin: 0;
    padding: 0;
}

:root {
    --color: #292929;
    --theme-primary-color: #c1272d;
    --theme-secondary-color: #0071bc;
    --theme-gray: #999
}

body {
    box-sizing: border-box;
    font-family: "Open Sans", "OpenSans", sans-serif;
    margin: 0;
    font-size: 17px;
    min-height: 100vh;
    display: flex;
}

body * {
    box-sizing: inherit;
}

main {
    flex-grow: 1;
    margin: auto;
    padding: 1em;
    color: var(--color);
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

main a {
    background: #e2f4ff;
    border-bottom: 1px solid currentColor;
    color: var(--theme-secondary-color);
    text-decoration: none;
    transition: all 0.3s;
}

main em {
    color: var(--theme-primary-color);
}

main a:focus, main a:hover {
    color: var(--theme-primary-color);
}

main p {
    line-height: 1.5rem;
}

h1, h2, h3, h4 {
    align-self: flex-start;
    border: 0 solid var(--theme-gray);
    display: inline-block;
}

h1, h2 {
    color: var(--theme-primary-color);
    border-bottom-width: 2px;
}

h3, h4 {
    color: var(--theme-secondary-color);
    border-bottom-width: 1px;
}

code {
    font-size: 0.9em;
}

p code {
    background: #f1f1f1;
    border: 1px solid var(--color);
    color: var(--color);
    padding: 0.1em 0.2em;
}

.tip {
    --tip-color: #10842e;
    font-size: 0.9em;
    padding: 0.5em;
    background: #ddfcea;
    color: var(--tip-color);
    border: 1px solid var(--tip-color);
    border-radius: 3px;
}

#logo-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

#logo-wrapper > span {
    display: flex;
    align-items: center;
}

#logo-wrapper > span:nth-child(2) {
    color: var(--theme-primary-color);
}

#logo-wrapper > span:nth-child(3) {
    color: var(--theme-secondary-color);
}

#logo-wrapper > span:last-child {
    color: var(--theme-gray);
}

header nav ul {
    list-style: none;
    font-size: 97%;
    padding: 0 0.5em;
}

li.top > a {
    font-weight: bold;
}

li.leaf > a {
    font-weight: lighter;
}

header li {
    display: flex;
    flex-direction: column;
}

header a {
    padding: 0.4em;
    color: #585858;
    text-decoration: none;
    transition: all 0.3s;
}

header a:hover, header a:focus {
    background: var(--theme-primary-color);
    color: white;
}

header a:hover > span, header a:focus > span {
    border-bottom: 2px solid white;
}
