doctype html
html(lang='en')
    head
        title Ship-hold | #{title}
        base(href='https://ship-hold.com')
        meta(charset='utf8')
        meta(name='description'  content='documentation website for ship-hold project, a postgres data layer access library for nodejs')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name='keywords', content='postgres, nodejs, javascript, sql, database, postgresql')
        link(rel='stylesheet' type='text/css' href='resources/theme.css')
        link(rel='stylesheet' type='text/css' href='resources/darkula.css')
        link(rel="apple-touch-icon" sizes="57x57" href="resources/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="resources/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="resources/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="resources/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="resources/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="resources/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="resources/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="resources/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="resources/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="resources/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="resources/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="resources/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="resources/favicon-16x16.png")
        link(rel="manifest" href="resources/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="resources/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        script(src='resources/app.js' async=true)
    body
        header
            a.visually-hidden(href='#main') Skip to content
            button#menu-toggle(type='button' aria-haspopup='true' aria-expanded='true' aria-controls='header-wrapper') close navigation
            div#header-wrapper(role='menu')
                div#logo-wrapper
                    img(alt='ship-hold logo', src='resources/ship-hold-logo.svg')
                    div
                        span SHIP
                        span -
                        span HOLD
                include ./navigation
        main#main
            block content
